<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='colors.css')}}">
  <title>Prism</title>
</head>

<body class="w3-theme">
  <div class="row">
    <div class="right-side w3-col m4 l2">
      <div class="link logo">
        <h1>Prism</h1>
      </div>
      <div class='link'>
        <span class="material-icons">home</span>
        <a href="{{url_for('index')}}">Home</a>
      </div>
      <div class="link">
        <span class="material-icons">tag</span>
        <a href="{{url_for('index')}}">Explore</a>
      </div>
      <div class='link'>
        <span class="material-icons">person</span>
        <a href="{{url_for('index')}}">Profile</a>
      </div>
      <div class='link'>
        <span class="material-icons">settings</span>
        <a href="{{url_for('index')}}">Settings</a>
      </div>
    </div>
    <div class="w3-col m4 l7 container">
      {% block content %}
      {% endblock content %}
    </div>
    <div class="left-side w3-col m4 l3">
      <div class="w3-card card">
        <div class="follow-box">
          <img class="follow-avatar"
            src="https://cdn.discordapp.com/avatars/845345000816377876/c39d7fc4eaeed2b150faabe40ce33ac1.webp?size=240" />
          <h4>The Jokers</h4>
          <a href="#" class="follow-btn">Follow</a>
        </div>
        <hr>
        <div class="follow-box">
          <img class="follow-avatar"
            src="https://cdn.discordapp.com/avatars/845345000816377876/c39d7fc4eaeed2b150faabe40ce33ac1.webp?size=240" />
          <h4>The Jokers</h4>
          <a href="#" class="follow-btn">Follow</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>