{% extends 'base.html' %}
{% block content %}
<form class="post-box">
  <input type="text" class="post-input" placeholder="Say something..." name="content" required>
  <button type="submit" class="post-share"><span class="material-icons">send</span></button>
</form>
<div class="ray">
    <div class="ray-content">
        <img class="pfp" src="{{session['pfp']}}">
        <p class="content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae</p>
    </div>
    <div class="controls">
        <span class="material-icons">favorite</span>
    </div>
</div>
{% endblock content %}