<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='colors.css')}}">
    <title>Login -  Prism</title>
</head>
<body class="w3-theme">
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="flashed">{{message}}</div>
        {% endfor %}
    {% endwith %}
    <h1 align="center" class="page-header">Login</h1>
    <div class="w3-card card auth-card">
        <img src="{{url_for('static', filename='anonymous.png')}}" alt="Profile Picture" class="person">
        <form method="post">
            <input required class="form-input" name="email" type="email" placeholder="Email">
            <input required class="form-input" type="password" name="password" placeholder="Password">
            <p class="question">Don't have an account? <a href="{{url_for('signup')}}">Sign up here</a></p>
            <input type="submit" value="Log In" class="form-submit"/>
        </form>
    </div>
</body>
</html>