<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='colors.css')}}">
    <title>Prism - Sign Up</title>
</head>
<body class="w3-theme">
    <h1 align="center" class="page-header">Sign Up</h1>
    <div class="w3-card card auth-card">
        <div class="material-icons person">person</div>
        <form>
            <input required class="form-input" name="email" type="email" placeholder="Email">
            <input required class="form-input" name="username" type="text" placeholder="Username">
            <input required class="form-input" type="password" name="password1" placeholder="Password">
            <input required class="form-input" name="password2" type="password" placeholder="Confirm password">
            <div class="tos">
                <input required type="checkbox"/>
                <small>I agree to the <a href="{{url_for('static', filename='PP.html')}}">Privacy Policy</a> and <a href="{{url_for('static', filename='TOS.html')}}">Terms of Service</a></small>
            </div>
            <input type="submit" value="Log In" class="form-submit"/>
        </form>
    </div>
</body>
</html>